/*
Ighoise Odigie
May, 15 2020
Youtube: https://www.youtube.com/channel/UCud4cJjtCjEwKpynPz-nNaQ?
Github: https://github.com/Iggy-o
Preview: https://repl.it/@IghoiseO/TicTacToe-Ultimate-Rivals
*/

/*Changes the background color, aligns text and turns off various default settings*/
body {
background-color: rgb(210, 210, 210);
user-select: none;
text-align: center;
overflow: hidden;
}

/*Sets all pages but the main page to hidden until they are needed*/
#creditsPage, 
#multiSinglePlayerPage, 
#modePage,
#gameBoard,
#menu,
#exitButton {
  display: none;
}

/*Positions the main title*/
.centerer{
  position: relative;
  top: 10vh;
}

/*Change the color and position of the main title*/
#mainTitle{
  position: relative;
  margin: 0;
  padding: 0;
  font: 8vh arial;
  font-weight: Bolder;
  color: rgb(150, 150, 150);
}

/*Changes various attributes of the title's subtitle and sets the red flaming animation*/
#subtitle{
  position: relative;
  margin-bottom: 15vh;
  padding: 0;
  font: 3vh arial;
  font-weight: Bolder;
  color: rgb(150, 150, 150);
  animation: flames 4s alternate infinite;
}

/*Sets the effects on the flame animation*/
@keyframes flames{
  from{}
  to{
  color: red; 
  text-shadow: 0px 0px 25px;
  }
}

/*Changes all buttons in the game to inherit similiar qualities*/
.buttons{
  position: relative;
  height: 20vw;
  width: 50vw;
  margin-bottom: 2vh;
  font: 5vw arial;
  font-weight: Bolder;
  color: grey;
  border: grey 6px solid;
  border-radius: 100px;
  text-align: center;
  outline: 0;
  transition: all .25s ease-in-out;
}
.buttonBox{
margin: 0 auto;
width: 50vw;
}

/*Changes the cursor and adds a growing effect when a button is hovered*/
.buttons:hover{
  cursor: pointer;
  transform: scale(1.2);
}

/*Changes all the back buttons to look identical*/
#backButton{ 
  height: 6vh;
  width: 12vh;
  font-size: 2vh;
}
.smallButton{
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 15%;
  left: 85%;
  font: 4vh arial;
  font-weight: Bolder;
  background-color: white;
  color: rgb(210, 210, 210);
  border: none;
  border-radius: 50px;
  text-align: center;
  transition: all .25s ease-in-out;
}

/*Changes the qualities of the box that contains the main menu's links*/
#links{
  margin: 0 auto;
  margin-top: 2vh;
  position: relative;
  height: 10vw;
  width: 40vw;
  background-color: rgba(0,0,0,0.2);
  border-radius: 4vw;
  padding: 2%;
}

/*Makes the links all look identical*/
#YT, #Sololearn, #Insta{
  position: relative;
  width: 10vw;
  height: 10vw;
  padding-left: 1vw;
  padding-right: 1vw;
  opacity: 0.6;
  transition: all 0.25s ease-in-out;
}

/*Adds an effect to the buttons when hovered*/
#YT:hover, #Sololearn:hover, #Insta:hover{
  opacity: 0.9;
  transform: scale(1.1);
}

/*Removes a default style that is added to clicked links*/
a:link {
text-decoration: none;
}

/*Style the elements in the credits page*/
.promo{
  position: relative;
  font: 2vh arial;
}
.smaller{
  font: 1vh arial;
}

/*These style the gameboard to look decent and centered*/
table{
  position: relative;
  margin: 0 auto;
  transform: translate(0, 25vh);
  border-collapse: collapse;
  color: white;
  border: 10px solid white;
}
td{
  height: 10vh;
  Width: 10vh;
  border: 10px solid white;
  font: 10vw arial;
  font-weight: bolder;
  text-align: center;
  background-color:  rgba(255,255,255,0.5);
}
td:hover{
  background-color:  rgba(255, 255, 255, 0);
  cursor: pointer;
}

/*These change the style of the scoreboard for X*/
#scoreX{
  position: absolute;
  top: 75%;
  left: 10vw;
  height: 25%;
  width: 35%;
  text-align: center;
}
#scoreBoardX{
  position: relative;
  top: -15vw;
  font: 8vw arial black;
  color: grey;
}
#playerNameX{
  position: relative;
  top: -7vw;
  font: 7vw arial black;
  font-weight: bolder;
  color: grey;
}

/*These change the style of the scoreboard for O*/
#scoreO{
  position: absolute;
  top: 75%;
  left: 58vw;
  height: 25%;
  width: 35%;
  text-align: center;
}
#scoreBoardO{
  position: relative;
  top: -15vw;
  font: 8vw arial black;
  color: grey;
}
#playerNameO{
  position: relative;
  top: -7vw;
  font: 7vw arial black;
  font-weight: bolder;
  color: grey;
}

/*Changes the font of the text that is displayed when a game is done*/
#gameEndText{
  position: relative;
  top: 20vh;
  margin-bottom: 21vh;
  font: 10vw 'arial black';
  color: rgb(150, 150, 150);
}

/*Slightly alters the default CSS depending on width and height of the device*/
@media all and (orientation: landscape){
  .centerer{
    position: relative;
    top: 5vh;
  }
	#mainTitle{
		font-size: 12vh;
	}

	#subtitle{
		font-size: 5vh;
    margin-bottom: 10vh;
	}

	.buttons{
		height: 15vh;
    width: 45vh;
		margin: 1vh;
		font: 5vh 'arial black';
	}

	.buttonBox{
		width: 50vh;
	}

	.smallButton{
		position: absolute;
    height: 6vh;
    width: 6vh;
		top: 1%;
    left: 90%;
		font-size: 4vh;
	}

	#links{
		margin-top: 5vh;
    height: 8vh;
    width: 32.5vh;
    border-radius: 4vh;
	}

	#YT, #Sololearn, #Insta{
    width: 8vh;
    height: 8vh;
    padding-left: 1vh;
    padding-right: 1vh;
	}

	.promo {
		font-size: 3vh;
	}

	.smaller {
		font-size: 2vh;
	}

	td{
    height: 16vh;
    Width: 16vh;
    font-size: 10vh;
	}	

  table{
    transform: translate(0, 10vh);
  }

	#scoreBoardX{
		top: -15vh;
		font-size: 8vh;
	}

	#playerNameX{
		top: -7vh;
		font-size: 7vh;
	}

	#scoreBoardO{
		top: -15vh;
		font-size: 8vh;
	}

	#playerNameO{
		top: -7vh;
		font-size: 7vh;
	}

	#gameEndText{
		font: 10vh 'arial black';
    top: 0;
    margin-bottom: 0;
	}
}
